.notificationItem {
  display: flex;
  min-height: 60px;
  border-bottom: 0.1px solid rgb(43, 42, 42);
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  padding: 10px 0;
}
.notification_time {
  font-size: 8px;
  color: gray;
  margin-left: 2.1rem;
}
.notify_main {
  display: flex;
  gap: 5px;
}
.notify_message {
  font-size: 14px;
  color: rgb(156, 153, 153);
}
/* invitationBtn */
.invitation_details {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  margin-left: 2.2rem;
}
.invitation_details button {
  height: 32px;
  font-size: 11px;
}
.decline {
  background-color: rgba(255, 0, 0, 0.308);
}
.accept {
  background-color: rgba(0, 231, 0, 0.459);
}
.decline:hover {
  background-color: red;
}
.accept:hover {
  background-color: rgb(0, 219, 0);
}
