.singleRoom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.roomHeader{
    display: flex;
    justify-content: space-between;
    background-color: #21213e3d;
    height: 100px;
    align-items: center;
    padding: 0 1rem;
    border-radius: 10px;
    border: 1px solid  rgba(48, 48, 48, 0.156);;
}
.roomName{
    font-size: 1.5rem;
    font-weight:600;
    letter-spacing: 1px;
    color: var(--primary_color);
}
.headerRight{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.headerLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.headerRightTop{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: center;
    /* justify-content:cent/  er; */
    justify-content: flex-end;
}
.headerRight svg{
    fill: gray;
font-size: 1.8rem;
cursor: pointer;
}
.infoText{
    color: gray;
    font-size: 10px;
    letter-spacing: 1px;
}
.headerLeftBottom{
    display: flex;
    align-items: center;
    gap: 1rem;
}