.sideList {
  flex: 2.5;
  display: flex;
  height: calc(100vh - 56px);
  flex-direction: column;
  background-color: #21213e3d;
  border-radius: 10px;
  border: 1px solid rgba(48, 48, 48, 0.156); ;
}
.logoBox{
  height: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 1rem;
}
.logoBox img{
  width: 40px;
  height: 40px;
}
.logoText{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5rem;
}
.sideItem {
  border: 1px solid  rgba(48, 48, 48, 0.156);
  gap: 1rem;
  border-right: none;
  border-left: none;
  height: 80px;
  font-size: 14px;
  padding-left: 1rem;
  display: flex;
  cursor: pointer;
  cursor: pointer;
  align-items: center;
}

.activeItem{
  /* background-color: rgba(44, 44, 44, 0.137); */
  background-color: #6161ff3b ;
}
.activeItem p{
  color: white !important;

}
.sideItem:hover {
  background-color: #6161ff17;
}
.sideItem p {
  color: gray;
  letter-spacing: 0.7px;
}
.sideItem img {
  width: 30px;
}
.sideItem_profileImg {
  border-radius: 50%;
}
.loginButton{
  border: 1px solid rgba(48, 48, 48, 0.156);
    gap: 1rem;
    height: 80px;
    font-size: 14px;
    padding-left: 1rem;
    display: flex;
    cursor: pointer;
    cursor: pointer;
    align-items: center;
    width: 100%;
}
.loginButton img{
  width: 30px;
  height: 30px;
}
.loginButton p{
  color: gray;
    letter-spacing: 0.7px;
}
.loginButton:hover {
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.137);

}

