
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Orbitron:wght@800;900&family=Poppins:wght@300;400;500;600;700&display=swap'); 

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
 font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
body {
}
:root {
  --primary_color: #646cff;
  --secondary_color: #0dd60e;
}
.App {
  
  background-image: linear-gradient(45deg,#080814,#101021fd) ;
  /* height: auto; */
  min-height: 100vh;
}
