.fileItem{
    padding: 1rem;
    border-radius: 0.61rem;
    /* back  */
      background-color: #21213e3d;
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    cursor: pointer;
    transition: all .3s ease;
    border: 2px solid rgba(128, 128, 128, 0.156);



}
.fileItem:hover{
    scale: 1.1;
}
.fileImg{
    width: 40px;
    height:40px;

}
.fileName{
    color: gray;
    letter-spacing: 1px;
    font-size: 10px;
}