.roomHeader {
  display: flex;
  justify-content: space-between;
  background-color: #21213e3d;
  height: 90px;;
  border-radius: 10px;
  padding: 0 1rem;
  align-items: center;
border: 1px solid rgba(48, 48, 48, 0.156);
}
.roomHeader h2 {
  color:#ffffff;
  letter-spacing: 1.3px;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
}
/* header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header img {
  height: 30px;
  border-radius: 50%;
}
.header_right_box{
  display: flex;
  gap: 1rem;
}